.customNavbar{
    background-image: linear-gradient(to right, #6610f2,#9266b9 ,#bc98db, rgb(187, 234, 240), #58D0F2, #007BC7);  
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    
}

.navbar-light .navbar-brand{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}