.customNavbar{
    background-image: linear-gradient(to right, #6610f2,#9266b9 ,#bc98db, #bbeaf0, #58D0F2, #007BC7);  
}

.navbar-light .navbar-nav .nav-link{
    color: white;
    
}

.random{
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    vertical-align: -10%;
}