.selected{
    background-color: #FFCD57 ;
    color: black;
    border:none;
}

.tag-text-size{
    font-size: 120%;
}

.tag-label{
    background-color: silver;
    border: none;
    color: white;
}

.submit-button{
    background-image:linear-gradient(to right, #007BC7, rgb(15, 146, 228));
    border: none;
    box-shadow: 3px 3px 2px grey;
}

.submit-button:hover{
    background-image:linear-gradient(to right, #012e4b, rgb(15, 146, 228));
    border:none;
}

.input-group-text {
    background-image: linear-gradient(to right, rgba(188, 152, 219, 0.5), #bc98db  );
    width: 130px;
    font-weight: bold; 
  
}

.form-control {

    background-image: linear-gradient(to right, #fff, rgba(188, 152, 219, 0.2)  );
    
}