.bg-resources{
    background-color:rgba(103, 77, 146, 0.171);
}

.add-button{
    background-color:#684D92;
    border-color: #684D92;
}

.bg-card-header{
    background-color: rgba(103, 77, 146, 0.719)
}