.bg-resources{
    background-color:whitesmoke;
    background-clip: border-box;
}

.add-button{
    background-color:#4465ED;
    border: none;
}

.add-button:hover{
    background-color: #1F45DF;
}

.start-search-button{
    background-color:#FFC130;
    border: none;
}

.start-search-button:hover{
    background-color:#FFB406;
}

.custom-scroll{
    overflow-y: scroll;
}

.custom-heading{
    color: #1F45DF;
}