.bg-resources{
    background-color:whitesmoke;
    background-clip: border-box;
}

.add-button{
    background-image:linear-gradient(to right, #007BC7, rgb(15, 146, 228));
    border: solid;
    border-color: grey; 
}

.add-button:hover{
    background-color: #1F45DF;
}

.start-search-button{
    background-image:linear-gradient(to right, #6610f2, #9266b9 );
    
    border: solid;
    border-color: grey; 
}

.start-search-button:hover{
    background-color:#FFB406;
}

.custom-scroll{
    overflow-y: scroll;
}

.custom-heading{
    color: #1F45DF;
}

.card-body{
    background-color: rgba(211, 211, 211,0.5);
}