.search-button{
    background-image:linear-gradient(to right, #007BC7, rgb(15, 146, 228));
    border: none;
    box-shadow: 3px 3px 2px grey;
}

.search-button:hover{
    background-image:linear-gradient(to right, #012e4b, rgb(15, 146, 228));
    border:none;    
}

.results-background{
    background-color:whitesmoke;
}

.selected{
    background-color: #FFCD57 ;
    color: black;
    border:none;
}

.tag-text-size{
    font-size: 120%;
}

.tag-label{
    background-color: silver;
    border: none;
    color: white;
}

.scroll{
    overflow-y: scroll;
}