/* CSS - Cascading Style Sheet */
/* Palette color codes */
/* Palette URL: http://paletton.com/#uid=53o121kl1Wx1x+IcEXDsUWkWEVBkgonHeIj2fYlkgDqViosgk8xg1f+pMaXdtfVcLkvd5 */

/* Feel free to copy&paste color codes to your application */


/* As hex codes */

/* 
.color-primary-0 { color: #58D0F2 }	Main Primary color 
.color-primary-1 { color: #F3FCFE }
.color-primary-2 { color: #97E0F5 }
.color-primary-3 { color: #1FC3F1 }
.color-primary-4 { color: #01BAEF }

.color-secondary-1-0 { color: #5C4580 }	Main Secondary color (1) 
.color-secondary-1-1 { color: #4D3C67 }
.color-secondary-1-2 { color: #543F74 }
.color-secondary-1-3 { color: #684D92 }
.color-secondary-1-4 { color: #694999 }

.color-secondary-2-0 { color: #6D7757 }	 Main Secondary color (2) 
.color-secondary-2-1 { color: #A0C060 }
.color-secondary-2-2 { color: #596442 }
.color-secondary-2-3 { color: #4F5F30 }
.color-secondary-2-4 { color: #4D6123 }

*/



body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
